name: CI

on:
  pull_request:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: remindgmbh/commitlint-action@v1.0.0
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: intl
          tools: composer:v2
      - run: composer install
      - run: composer run-script static-analysis
